@import "compass/reset";

html, body {
    height : 100%;
}

textarea, input, a:link, .btns, p, div {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.clearfix {
    &:after {
        content : '.';
        display : block;
        visibility : hidden;
        font-size : 0;
        clear : both;
        overflow : hidden;
        height : 0;
    }
}

.bg-contain {
    background-repeat : no-repeat;
    background-position : center;
    -webkit-background-size : contain;
    background-size : contain;
}

#is-portrait {
    display : none!important;
    background : #000;
    height : 100%; 
    width : 100%;
    display : -webkit-box;
    display : box;

    -webkit-box-orient : horizontal;
    box-orient : horizontal;

    -webkit-box-pack : center;
    box-pack : center;

    -webkit-box-align : center;
    box-align : center;

    .rotation {
        width : 300px;
        height : 265px;
        background : url( @@path.images/rotation.png );
        -webkit-background-size : cover;
        background-size : cover;
    }
}

#is-landscape {
    height : 100%;
    width : 100%;
    #loading {
        width : 100%;
        height : 100%;
        display : -webkit-box;
        display : box;

        -webkit-box-orient : horizontal;
        box-orient : horizontal;

        -webkit-box-pack : center;
        box-pack : center;

        -webkit-box-align : center;
        box-align : center;
        text-align : center;
        color : #FFF;
        background : #000;
    }
    .pages {
        /* home page style */
        width : 100%;
        height : 100%;
        -webkit-background-size : cover;
        background-size : cover;
        position : relative;
        padding-top : 0.1px; 
        background-repeat : no-repeat;
        background-position : center;
        overflow : hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
          
        -webkit-perspective: 1000;
        perspective: 1000;

        .top {
            width : 100%;
            height : 33px;
            background : rgba( 0, 0, 0, .3 );
            position : fixed;
            top : 0;
            left : 0;
            z-index : 1000;
            a.bac {
                display : block;
                width : 55px;
                height : 33px;
                position : absolute;
                left : 30px;
                background : url( @@path.images/bac.png );
                background-size : contain;
            }
            a.menubutton {
                display : block;
                width : 33px;
                height : 33px;
                position : absolute;
                right : 30px;
                background : url( @@path.images/menubutton.png );
                background-size : contain;
            }
            .pagetitle {
                width : 100px;
                height : 33px;
                margin : 0 auto;
                background-size : contain;
            }
        }
        ul.menu {
            position : absolute;
            z-index : 2000;
            background : rgba( 0, 0, 0, .7 );
            width : 100px; 
            height : 100%;
            top : 0;
            right : -100px;
            bottom : 0;
            -webkit-transition : right .3s ease-in-out;
            transition : right .3s ease-in-out;
            li {
                height : 20%;
                border-bottom : solid 1px #414141;
                -webkit-box-sizing : border-box;
                box-sizing : border-box;
                a {
                    color : #FFF;
                    display : box;
                    width : 100%;
                    height : 100%;
                    font-size : 12px;
                    text-align : center;
                    vertical-align : middle;
                    text-decoration : none;
                    display : -webkit-box;
                    display : box;
    
                    -webkit-box-orient : horizontal;
                    box-orient : horizontal;

                    -webkit-box-pack : center;
                    box-pack : center;

                    -webkit-box-align : center;
                    box-align : center;
                }
            }
        }
        .next {
            width : 57px;
            height : 30px;
            display : block;
            position : absolute;
            right : 25px;
            bottom : 14px;
            background-image : url( @@path.images/tuan/next.png );
        }

        &.cover {
            background-image : url( @@path.images/01bg.jpg );
            .title {
                width : 285px;
                height : 125px;
                margin : 6% auto 0;
                background : url( @@path.images/01title.png );
                -webkit-background-size : contain;
                background-size : contain;
                -webkit-transform : scale( 0 );
                transform : scale( 0 );
                opacity : 0;
                -webkit-transition : all 1s ease-in-out;
                transition : all 1s ease-in-out;
                &.show {
                    -webkit-transform : scale( 1 );
                    transform : scale( 1 );
                    opacity : 1;
                }
            }

            .button-box {
                width : 195px;
                height : 37px;
                margin : 13% auto 0; 
                position : relative;
                .arrows {
                    width : 13px;
                    height : 13px;
                    -webkit-background-size : contain;
                    background-size : contain;
                    display : block;
                    position : absolute;
                    top : 12px;
                    opacity : 0;
                    -webkit-animation-duration: 4s;
                    -webkit-animation-timing-function: ease;
                    -webkit-animation-delay: 0;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-backface-visibility: hidden;
                    &.show {
                        opacity : 1;
                    }
                    &.arrow-left {
                        background-image : url( @@path.images/tipL.png );
                        left : 7px;
                        -webkit-animation-name: 'shakeleft';
                    }
                    &.arrow-right {
                        background-image : url( @@path.images/tipR.png );
                        right : 7px;
                        -webkit-animation-name: 'shakeright';
                    }
                }
                .button {
                    display : block;
                    width : 142px;
                    height : 37px;
                    margin : 0 auto;
                    background : url( @@path.images/01button.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    opacity : 0;
                    -webkit-transition : opacity 1s ease-in-out;
                    transition : opacity 1s ease-in-out;
                    &.show {
                        opacity : 1;
                    }
                }
            }
            .bottom-line {
                position : absolute;
                bottom : 10px;
                height : 30px;
                width : 100%;
                .logo {
                    width : 100px;
                    height : 30px;
                    background-image : url( @@path.images/logo.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    position : absolute;
                    left : 30px;
                    -webkit-transform : scale( 0 );
                    transform : scale( 0 );
                    -webkit-transition : all 1s ease-in-out;
                    transition : all 1s ease-in-out;
                    &.show {
                        -webkit-transform : scale( 1 );
                        transform : scale( 1 );
                    }
                }
                .bac2home {
                    width : 75px;
                    height : 30px;
                    background-image : url( @@path.images/bac2home.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    position : absolute;
                    right : 30px;
                    display : block;
                    -webkit-transform : scale( 0 );
                    transform : scale( 0 );
                    -webkit-transition : all 1s ease-in-out;
                    transition : all 1s ease-in-out;
                    &.show {
                        -webkit-transform : scale( 1 );
                        transform : scale( 1 );
                    }
                }
            }
        }
        /* home page style */
        &.list {
            background-image : url( @@path.images/list/02bg.jpg );            
            .pagetitle {
                width : 75px;
                background-image : url( @@path.images/word.png );
            }
            .car-list-area {
                margin-top :  35px;
                width : 100%;
                overflow : hidden;
                .inner {
                    width : 300%;
                    -webkit-transition : all .6s ease-in-out;
                    transition : all .6s ease-in-out;
                }
                .list-page {
                    float : left;
                }
                ul {
                    width : 90%;
                    margin : 0 auto;
                    li {
                        float : left;
                        margin : 15px 0 0 4%;
                        width : 22%;
                        &:nth-child( 4n + 1 ) {
                            margin-left : 0;
                        }
                        a {
                            display : block;
                            width : 100%;
                            -webkit-background-size : contain;
                            background-size : contain;
                            background-position : center;
                            img {
                                width : 100%;
                                height : auto;
                            }
                        }
                    }
                }
            }
            .scroll-bar {
                width : 202px;
                height : 4px;
                font-size : 0;
                margin : 10px auto 0;
                position : relative;
                background : url( @@path.images/tipbg.png );
                -webkit-background-size : contain;
                background-size : contain;
                .tiplight {
                    display : block;
                    width : 43px;
                    height : 4px;
                    position : absolute;
                    top : 0;
                    left : 0;
                    font-size : 0;
                    background : url( @@path.images/tiplight.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    -webkit-transition : left 1s ease-in-out;
                    transition : left 1s ease-in-out;
                }
            }
            .scroll-tip {
                width : 95px;
                height : 10px;
                margin : 10px auto 0;
                background : url( @@path.images/tipword.png );
                -webkit-background-size : contain;
                background-size : contain;
            }
        }
        &.tuan {
            background-image : url( @@path.images/tuan/03bg.jpg );
            -webkit-transform : scale( 1.5 );
            transform : scale( 1.5 );
            opacity : 0;
            -webkit-transition : all 1s ease-in-out;
            transition : all 1s ease-in-out;
            &.show {
                -webkit-transform : scale( 1 );
                transform : scale( 1 );
                opacity : 1;
            }
            .pagetitle {
                width : 110px;
                background-image : url( @@path.images/tuan/carword.png );
            }
            .title {
                width : 200px;
                height : 140px;
                margin : 35px 0 0 30px;
                background-image : url( @@path.images/tuan/03title.png );
                -webkit-background-size : contain;
                background-size : contain;
            }
            .detail-button-box {
                width : 160px;
                height : 55px;
                position : relative;
                margin : 42px 0 0 36px;
                .arrows {
                    width : 8px;
                    height : 8px;
                    -webkit-background-size : contain;
                    background-size : contain;
                    display : block;
                    position : absolute;
                    top : 24px;
                    &.arrow-left {
                        background-image : url( @@path.images/tipL-orange.png );
                        left : 7px;
                    }
                    &.arrow-right {
                        background-image : url( @@path.images/tipR-orange.png );
                        right : 7px;
                    }
                }
                .button {
                    display : block;
                    width : 120px;
                    height : 55px;
                    margin : 0 auto;
                    background : url( @@path.images/360button.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                }

            }
        }
        &.tuan2 {
            display : none;
            /* background-image : url( @@path.images/tuan/04-1.jpg ); */
            .pagetitle {
                width : 110px;
                background-image : url( @@path.images/tuan/carword.png );
            }
            .tip {
                width : 152px;
                height : 37px;
                margin : 50px 0 0 30px;
                background-image : url( @@path.images/tuan/04tip.png );
                -webkit-background-size : contain;
                background-size : contain;
            }
            .slices-box {
                width : 100%;
                height : 100%;
                div {
                    width : 100%;
                    height : 100%;
                    background-position : center;
                    -webkit-background-size : cover;
                    background-size : cover;
                }
            }
            .scroll-bar {
                width : 340px;
                height : 11px;
                font-size : 0;
                position : fixed;
                background-image : url( @@path.images/tuan/04line.png );
                bottom : 24px;
                left : 25%;
                .scroll-btn {
                    width : 53px;
                    height : 53px;
                    font-size : 0;
                    position : absolute;
                    background-image : url( @@path.images/tuan/04button.png );
                    top : -21px;
                    left : -21px;
                }
            }
        }

        &.tuan3 {
            background-image : url( @@path.images/tuan/05bg.jpg );
            .pagetitle {
                width : 110px;
                background-image : url( @@path.images/tuan/carword.png );
            }
            .img-list-area {
                margin : 40px auto 0;
                ul {
                    width : 97.37%;
                    margin : 0 auto 15px;
                    li {
                        float : left;
                        width : 25%;
                        margin-top : 5px;
                        a {
                            display : block;
                            width : 89.29%;
                            margin : 0 auto;
                            height : auto;
                            -webkit-background-size : cover;
                            background-size : cover;
                            background-position : center;
                            background-repeat : no-repeat;
                            img {
                                width : 100%;
                            }
                        }
                    }
                }
            }
            .tip {
                width : 75px;
                height : 10px;
                background-image : url( @@path.images/tuan/05tip.png );
                margin : 10px auto;
            }
            .big-pic-layer {
                position : fixed;
                top : 0;
                left : 0;
                bottom : 0;
                right : 0;
                width : 100%;
                height : 100%;
                z-index : 200;
                background-repeat : no-repeat;
                background-position : center;
                -webkit-background-size : cover;
                background-size : cover;
                display : none;
                .item {
                    width : 100%;
                    height : 100%;
                    display : none;
                    padding-top : 0.1px;
                    background-position : center;
                    -webkit-background-size : cover;
                    background-size : cover;
                    background-repeat : no-repeat;
                    .center-helper {
                        width : 100%;
                        height : 100%;
                        display : -webkit-box;
                        display : box;

                        -webkit-box-orient : horizontal;
                        box-orient : horizontal;

                        -webkit-box-align : center;
                        box-align : center;
                    }
                    .inner {
                        width : 100%;
                    }
                    .txt,
                    .back-btn,
                    .img {
                        display : block;
                        img {
                            width : 100%;
                            height : auto;
                        }
                    }
                    &.item-1 {
                        background-image :url( @@path.images/tuan/06-1.jpg );
                        .inner {
                            margin-left : 7.8%;
                            .txt {
                                width : 29.02%;
                            }
                            .back-btn {
                                width : 15.26%; 
                                margin-top : 67px;
                            }
                        }
                    }
                    &.item-2 {
                        background-image :url( @@path.images/tuan/06-2.jpg );
                        .inner {
                            margin-left : 7.8%;
                            .txt {
                                width : 21.58%;
                            }
                            .back-btn {
                                width : 15.26%; 
                                margin-top : 34px;
                            }
                        }
                    }
                    &.item-3 {
                        background-image :url( @@path.images/tuan/06-3.jpg );
                        .inner {
                            margin : 0 auto;
                            width : 85.44%;
                            position : relative;
                        }
                        .img {
                            width : 62%;
                            float : left;
                        }
                        .txt {
                            float : right;
                            width : 36.76%;
                        }
                        .back-btn {
                            position : absolute;
                            right : 0;
                            bottom : 0;
                            width : 17.86%;
                        }
                    }
                    &.item-4 {
                        background-image :url( @@path.images/tuan/06-4.jpg );
                        .inner {
                            margin-left : 7.8%;
                            .txt {
                                width : 23.77%;
                            }
                            .back-btn {
                                width : 15.26%; 
                                margin-top : 34px;
                            }
                        }
                    }
                    &.item-5 {
                        background-image :url( @@path.images/tuan/06-5.jpg );
                        .inner {
                            margin-left : 7.8%;
                            .txt {
                                width : 22.19%;
                            }
                            .back-btn {
                                width : 15.26%; 
                                margin-top : 34px;
                            }
                        }
                    }
                    &.item-6 {
                        background-image :url( @@path.images/tuan/06-6.jpg );
                        .inner {
                            height : 100%;
                        }
                        .txt {
                            width : 39.3%;
                            position : absolute;
                            right : 3.95%;
                            bottom : 19.45%;
                        }
                        .back-btn {
                            width : 15.26%;
                            position : absolute;
                            left : 7.8%;
                            bottom : 9.45%;
                        }
                    }
                    &.item-7 {
                        background-image :url( @@path.images/tuan/06-7.jpg );
                        .inner {
                            margin-left : 7.8%;
                            .txt {
                                width : 29.12%;
                            }
                            .back-btn {
                                width : 15.26%; 
                                margin-top : 34px;
                            }
                        }
                    }
                    &.item-8 {
                        background-image :url( @@path.images/tuan/06-8.jpg );
                        .inner {
                            margin-left : 7.8%;
                            .txt {
                                width : 80.96%;
                            }
                            .back-btn {
                                width : 15.26%; 
                                margin-top : 34px;
                            }
                        }
                    }
                }
            }
        }
        &.tuan4 {
            background : #000;
        }
        &.exp-cover {
            background-image : url( @@path.images/exp-01bg.jpg );
            .title {
                width : 60.53%;
                height : 34.02%;
                margin : 8% auto 0;
                background : url( @@path.images/exp-01title.png );
                -webkit-background-size : contain;
                background-size : contain;
                -webkit-transform : scale( 0 );
                transform : scale( 0 );
                opacity : 0;
                -webkit-transition : all 1s ease-in-out;
                transition : all 1s ease-in-out;
                &.show {
                    -webkit-transform : scale( 1 );
                    transform : scale( 1 );
                    opacity : 1;
                }
            }

            .button-box {
                width : 195px;
                height : 37px;
                margin : 13% auto 0; 
                position : relative;
                .arrows {
                    width : 13px;
                    height : 13px;
                    -webkit-background-size : contain;
                    background-size : contain;
                    display : block;
                    position : absolute;
                    top : 12px;
                    opacity : 0;
                    -webkit-animation-duration: 4s;
                    -webkit-animation-timing-function: ease;
                    -webkit-animation-delay: 0;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-backface-visibility: hidden;
                    &.show {
                        opacity : 1;
                    }
                    &.arrow-left {
                        background-image : url( @@path.images/tipL.png );
                        left : 7px;
                        -webkit-animation-name: 'shakeleft';
                    }
                    &.arrow-right {
                        background-image : url( @@path.images/tipR.png );
                        right : 7px;
                        -webkit-animation-name: 'shakeright';
                    }
                }
                .button {
                    display : block;
                    width : 142px;
                    height : 37px;
                    margin : 0 auto;
                    background : url( @@path.images/exp-01button.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    opacity : 0;
                    -webkit-transition : opacity 1s ease-in-out;
                    transition : opacity 1s ease-in-out;
                    &.show {
                        opacity : 1;
                    }
                }
            }
            .bottom-line {
                position : absolute;
                bottom : 10px;
                height : 30px;
                width : 100%;
                .logo {
                    width : 100px;
                    height : 30px;
                    background-image : url( @@path.images/logo.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    position : absolute;
                    left : 30px;
                    -webkit-transform : scale( 0 );
                    transform : scale( 0 );
                    -webkit-transition : all 1s ease-in-out;
                    transition : all 1s ease-in-out;
                    &.show {
                        -webkit-transform : scale( 1 );
                        transform : scale( 1 );
                    }
                }
                .bac2home {
                    width : 75px;
                    height : 30px;
                    background-image : url( @@path.images/bac2home.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    position : absolute;
                    right : 30px;
                    display : block;
                    -webkit-transform : scale( 0 );
                    transform : scale( 0 );
                    -webkit-transition : all 1s ease-in-out;
                    transition : all 1s ease-in-out;
                    &.show {
                        -webkit-transform : scale( 1 );
                        transform : scale( 1 );
                    }
                }
            }
        }
        &.exp-list {
            background-image : url( @@path.images/exp-bg.jpg );            
            .pagetitle {
                width : 75px;
                background-image : url( @@path.images/exp-list/02titleword.png );
            }
            .car-list-area {
                margin-top : 5%;
                margin-left : 25px;
                width : 100%;
                overflow : hidden;
                .inner {
                    width : 300%;
                    -webkit-transition : all .6s ease-in-out;
                    transition : all .6s ease-in-out;
                }
                .list-page {
                    float : left;
                }
                ul {
                    width : 100%;
                    position : relative;
                    li {
                        float : left;
                        margin : 15px 0 0;
                        width : 33.3%; 
                        position : relative;
                        perspective : 1000px;
                        a.anchor {
                            display : block;
                            position : absolute;
                            background : rgba( 0, 0, 0, 0 );
                            width : 87%;
                            height : 38%;
                            top : 4%;
                            left : 4%;
                            -webkit-transform : rotateX( 49deg ) rotateY( -8deg ) rotateZ( 47deg );
                            &.anchor-bottom {
                                top : 40%;
                            }
                            &.anchor-6 {
                                width : 74%;
                                height : 33%;
                                top : 34%;
                                left : 9%;
                            }
                            &.anchor-7 {
                                width : 45%;
                                height : 34%;
                                top : 34%;
                                left : 26%;
                            }
                            &.anchor-8 {
                                width : 72%;
                                height : 34%;
                                top : 34%;
                                left : 11%;
                            }
                        }
                        div {
                            width : 100%;
                            -webkit-background-size : contain;
                            background-size : contain;
                            background-position : center;
                            img {
                                width : 100%;
                                height : auto;
                            }
                        }
                    }
                }
            }
            .scroll-bar {
                width : 202px;
                height : 4px;
                font-size : 0;
                margin : 10px auto 0;
                position : relative;
                background : url( @@path.images/tipbg.png );
                -webkit-background-size : contain;
                background-size : contain;
                .tiplight {
                    display : block;
                    width : 43px;
                    height : 4px;
                    position : absolute;
                    top : 0;
                    left : 0;
                    font-size : 0;
                    background : url( @@path.images/tiplight.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    -webkit-transition : left 1s ease-in-out;
                    transition : left 1s ease-in-out;
                }
            }
            .scroll-tip {
                width : 180px;
                height : 10px;
                margin : 10px auto 0;
                background : url( @@path.images/exp-list/02tipword.png );
                -webkit-background-size : contain;
                background-size : contain;
            }
        }

        &.exp-cars {
            background-image : url( @@path.images/exp-bg.jpg );            
            .pagetitle {
                width : 70px;
                background-image : url( @@path.images/exp-cars/04titleword.png );
            }
            .car-list-area {
                margin-top :  35px;
                width : 100%;
                overflow : hidden;
                .inner {
                    width : 300%;
                    -webkit-transition : all .6s ease-in-out;
                    transition : all .6s ease-in-out;
                }
                .list-page {
                    float : left;
                }
                ul {
                    width : 568px;
                    margin : 0 auto;
                    li {
                        float : left;
                        margin : 15px 0 0 14px;
                        a.car-image {
                            display : block;
                            width : 125px;
                            height : 100px;
                            -webkit-background-size : contain;
                            background-size : contain;
                            background-position : center;
                        }
                    }
                }
            }
            .scroll-bar {
                width : 202px;
                height : 4px;
                font-size : 0;
                margin : 10px auto 0;
                position : relative;
                background : url( @@path.images/tipbg.png );
                -webkit-background-size : contain;
                background-size : contain;
                .tiplight {
                    display : block;
                    width : 43px;
                    height : 4px;
                    position : absolute;
                    top : 0;
                    left : 0;
                    font-size : 0;
                    background : url( @@path.images/tiplight.png );
                    -webkit-background-size : contain;
                    background-size : contain;
                    -webkit-transition : left 1s ease-in-out;
                    transition : left 1s ease-in-out;
                }
            }
            .scroll-tip {
                width : 115px;
                height : 10px;
                margin : 10px auto 0;
                background : url( @@path.images/exp-cars/04tipword.png );
                -webkit-background-size : contain;
                background-size : contain;
            }
        }
        &.exp-booth {
            background-image : url( @@path.images/exp-bg.jpg );            
            .pagetitle {
                width : 90px;
                background-image : url( @@path.images/exp-booth/03titleword.png );
            }
            .booth-nav {
                position : absolute;
                top : 30px;
                bottom : 0;
                display : -webkit-box;
                display : box;

                -webkit-box-orient : horizontal;
                box-orient : horizontal;
                -webkit-box-pack : center;
                box-pack : center;
                -webkit-box-align : center;
                box-align : center;

                a {
                    display : block;
                    width : 66px;
                    height : 33px;
                    background-repeat : no-repeat;
                    background-position : center;
                    -webkit-background-size : contain;
                    background-size : contain;
                }
                &.nav-left {
                    left : 0;
                }
                &.nav-right {
                    right : 0;
                }
            }
            .booth-detail {
                width : 100%;
                height : calc( 100% - 33px );
                margin-top : 33px; 
                display : -webkit-box;
                display : box;

                -webkit-box-orient : horizontal;
                box-orient : horizontal;

                -webkit-box-pack : center;
                box-pack : center;

                -webkit-box-align : center;
                box-align : center;

                .boothes {
                    width : 58.80%;
                    background : rgba( 255, 255, 255, .3 );
                    padding : 2.99%;
                    -webkit-box-sizing : border-box;
                    box-sizing : border-box;

                    li {
                        position : relative;
                        float : left;
                        margin-left : 3.18%;
                        font-size : 0;
                        a {
                            display : block;
                            img {
                                width : 100%;
                                height : auto;
                            }
                        }
                        span.location-icon {
                            width : 33px;
                            height : 33px;
                            position : absolute;
                            top : -13px;
                            left : calc( 50% - 16.5px );
                            background : url( @@path.images/exp-booth/hallbutton.png ) no-repeat center; 
                            background-size : contain;
                        }
                    }
                    &.booth-1-1 {
                        .kia {
                            width : 48.5%;
                            margin-left : 0;
                        }
                        .dongfengfengshen {
                            width : 25.8%;
                        }
                        .soueast {
                            width : 19.1%;
                        }
                        .mazda {
                            width : 36.7%;
                            margin-left : 0;
                            margin-top : 6.92%;
                        }
                        .peugeot {
                            width : 28.6%;
                            margin-top : 6.92%;
                        }
                        .citroen {
                            width : 28.34%;
                            margin-top : 6.92%;
                        }
                    }
                    &.booth-2-1 {
                        .zhengzhourichan {
                            width : 14.49%;
                            margin-left : 0;
                        }
                        .subaru {
                            width : 21.02%;
                        }
                        .qoros {
                            width : 18.79%;
                        }
                        .renault {
                            width : 35.99%;
                        }
                        .shuanghuan {
                            width : 11.6%;
                            margin-top : 6.92%;
                            margin-left : 0;
                        }
                        .ford {
                            width : 71.7%;
                            margin-top : 6.92%;
                        }
                        .title {
                            width : 10.3%;
                            margin-top : 6.92%;
                        }
                    }
                    &.booth-3-1 {
                        .yiqi {
                            width : 24.85%;
                            margin-left : 0;
                        }
                        .changan2 {
                            width : 36.94%;
                        }
                        .changan {
                            width : 13.45%;
                            margin-left : 0.32% 
                        }
                        .landwind {
                            width : 18%;
                        }
                        .suzuki {
                            width : 27.39%;
                            margin-top : 6.92%;
                            margin-left : 0;
                        }
                        .shangqi {
                            width : 8.6%;
                            margin-top : 6.92%;
                        }
                        .tongyongwuling {
                            width : 9.24%;
                            margin-top : 6.92%;
                            margin-left : 0.32% 
                        }
                        .datong {
                            width : 16.88%;
                            margin-top : 6.92%;
                            margin-left : 0.32% 
                        }
                        .roewe {
                            width : 16.24%;
                            margin-top : 6.92%;
                            margin-left : 0.32% 
                        }
                        .mg {
                            width : 16.4%;
                            margin-top : 6.92%;
                            margin-left : 0.32% 
                        }
                    }

                    &.booth-4-1 {
                        .bmw {
                            width : 48.38%;
                            margin-left : 0;
                        }
                        .acura {
                            width : 27.12%;
                        }
                        .lincoln {
                            width : 18.1%;
                        }
                        .infiniti {
                            width : 32.8%;
                            margin-top : 6.92%;
                            margin-left : 0.32% 
                        }
                        .calson {
                            width : 11.94%;
                            margin-top : 6.92%;
                        }
                        .jaguar {
                            width : 48.4%;
                            margin-top : 6.92%;
                        }
                    }
                    &.booth-5-1 {
                        .cadillac {
                            width : 35.35%;
                            margin-left : 0;
                        }
                        .lexus {
                            width : 29.14%;
                        }
                        .volvo {
                            width : 28.98%;
                        }
                        .ds {
                            width : 23.57%;
                            margin-top : 6.92%;
                            margin-left : 0.32% 
                        }
                        .fujianbenz {
                            width : 15.29%;
                            margin-top : 6.92%;
                        }
                        .benz {
                            width : 54.4%;
                            margin-top : 6.92%;
                        }
                    }
                    &.booth-6 {
                        width : 49.6%;
                        .audi {
                            width : 61.5%;
                            margin-left : 0;
                        }
                        .skoda {
                            width : 35.18%;
                        }
                        .volkswagen {
                            width : 100%;
                            margin-top : 6.92%;
                            margin-left : 0.32% 
                        }
                    }
                    &.booth-7 {
                        width : 55.26%;
                        li {
                            margin-left : 4.58%;
                        }
                        .lamborghini {
                            width : 19.98%;
                            margin-left : 0;
                        }
                        .davidson {
                            width : 16.44%;
                        }
                        .forum {
                            width : 16.78%;
                        }
                        .safechair {
                            width : 10.34%;
                        }
                        .patton {
                            width : 17.46%;
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes shakeleft {
    0%, 50%, 100% {
        left : 0;
    }
    25%, 75% {
        left : 7px;
    }
}
@keyframes shakeleft {
    0%, 50%, 100% {
        left : 0;
    }
    25%, 75% {
        left : 7px;
    }
}
@-webkit-keyframes shakeright {
    0%, 50%, 100% {
        right : 0;
    }
    25%, 75% {
        right : 7px;
    }
}
@keyframes shakeright {
    0%, 50%, 100% {
        right : 0;
    }
    25%, 75% {
        right : 7px;
    }
}

@media all and (orientation: portrait) {
    .landscape {
        display : none;
    }
} 

@media all and (orientation: landscape) {
    .portrait {
        display : none;
    }
}
